.add-info-button {
    text-decoration: none;
    color: rgb(39, 24, 170);
    display: block;
    transition: .3s background-color;
    background-color:darkgrey;
    margin: 0 auto;
}

.add-info-button:hover {
    background-color: #005f5f;
  }

form.whole-form {
    width: 15vw;
    display: block;
    margin: 0 auto;
}

input {
    margin: 15px;
}